<div class="mt-5">
    <% @imagenes.each do |o| %>
        <div class="row mt-4 justify-content-center">
            <div class="col-4">
                <h3 class="text-center"><%= o.title %></h3>
                <p class="text-center"><%= o.description%></p>
                <%= image_tag o.url_image, class: "w-100"%>
                <hr>
            </div>
        </div>
    <%end%>
</div>