<h1>Avatars#index</h1>
<p>Find me in app/views/avatars/index.html.erb</p>
<% misDatos = @imagenes.zip(@users) %>

<%misDatos.each do |image, user|%>
    <%= image_tag image.url_image, size: "100x100" %>
    <p><%=user.name%></p>
<%end%>